.container {
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: fit-content;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

@media (max-width: 850px) {
  .cardContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
