.header {
  position: sticky;
  grid-area: header;
  height: auto;
}

.flexContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.body {
  grid-area: main;
  /* background-color: #5d21f3; */
}

.content {
  /* max-width: 960px; */
  /* padding: 10%; */
  padding-left: 7%;
  padding-right: 7%;
  /* margin: auto; */
}

.footer {
  grid-area: footer;
  justify-self: center;
  /* background-color: #d7f321; */
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "header "
    "main"
    "footer";
  gap: 10px;
  padding: 20px;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* .gridContainer > div { */
/* background-color: rgba(255, 255, 255, 0.8); */
/* padding: 20px 0; */
/* } */
